@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00579d; /* cor padrão */
  --secondary-color: #3dccfd; /* cor padrão */
}

.onboarding-bg {
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}
.tw-text-primary {
  color: var(--primary-color) !important;
}
.tw-bg-primary {
  background-color: var(--primary-color) !important;
}